<ul>
	<% @hacks.each do |hack| %>
	<li class="hack">
		<a href="/votes/up"><i class="icon-chevron-up"></i></a>
		<%= hack.score %>
		<a href="/votes/down"><i class="icon-chevron-down"></i></a>
		<h2><%= link_to hack.title, hack %></h2>
		<p><%= truncate(hack.description, :length => 140) %></p>
		<p><%= hack.comments.count %> Comments</p>
	</li>	
	<% end %>
</ul>