<div id="navigation">
	<ul id="nav-hacks" class="inline-list">
	  <li><a href="/">Top Rated</a></li>
	  <li><a href="/hacks/favorites">My Favorites</a></li>
	</ul>
</div>

<div id="hacks" style="float:left;">
	<%= render "hacks/hacks", :hacks => @hacks %>
</div>