<ul>
	<% @hacks.each do |hack| %>
	<li class="hack">
		<h2><%= hack.title %></h2>
		<p><%= truncate(hack.description, :length => 140) %></p>
		<p><%= hack.comments.count %> Comments</p>
	</li>	
	<% end %>
</ul>