- if local_assigns[:user].present? && local_assigns[:user].respond_to?(:mugshot_url)
  / TODO: YAMMER SPECIFIC
  - if local_assigns[:size]
    - case local_assigns[:size]
    - when 'small'
      - size = "24x24"
    - when 'large'
      - size = "95x95"
    - url = user.mugshot_url.gsub("48x48", size)
  = image_tag url, title: user.name, class: 'img-circle user-mugshot'