SECRET_TOKEN: 'secret_token'
DATABASE_HOST: 'postgresql_host'
DATABASE_USERNAME: 'db_username'
DATABASE: 'db_name'
NEW_RELIC_KEY: 'optional'
GITHUB_KEY: 'github_key (ghe/org)'
GITHUB_SECRET: 'github_secret (ghe/org)'
GITHUB_URL: 'github_url (ghe/org)'
GITHUB_API_URL: https://api.github.com
