/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul { list-style-type: none; margin: 0; padding: 0; }
#nav-hacks .inline-list { display: inline; }

.activity
{
	margin-top: 15px;
	img { display: block; float: left; margin-right: 10px; }
}
.activity-body 
{
	height: 50px;
}

#user-points { float: left; padding-top:10px; }
#user-points .bankroll { font-size: 5em; line-height: 1; }

#user-profile
{
	float: left;
	span { text-align: center; }
}

.nav
{
  margin-top:13px;
  margin-left:20px;
}

.user-mugshot
{
  padding-top:10px;
}

.unfulfilled_hacker_slot
{
  -moz-border-radius: 45px/45px;
  -webkit-border-radius: 45px 45px;
  border-radius: 45px/45px;;
  border:solid 2px #000; 
  width:45px;
  height:45px;
  text-align:center;
  line-height:45px;
  font-size:30px;
  font-weight:bold;
  display:inline-block;
}

.yam-logo
{
  -moz-border-radius: 70px/70px;
  -webkit-border-radius: 70px 70px;
  border-radius: 70px/70px;;
  background-color:#48AEF1;
  width:70px;
  height:70px;
  text-align:center;
  line-height:45px;
  font-size:30px;
  font-weight:bold;
  display:inline-block;
  margin-top:10px;
}

.yam-logo-img
{
  margin-top:16px;
  margin-left:6px;
}

.yam-logo-text
{
  display:inline-block;
  vertical-align: middle;
  margin-left:10px;
}

.all_hackers
{
  width:500px;
}

.signin-yammer
{
  width: 350px;
  height: 350px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.presentation-queue-title
{
  line-height:20px;
}