#hacks { margin-top: 20px;}

.hack
{
  margin-bottom: 20px;
  overflow: auto;

  h3
  {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.edit-hackday
{
  color: #bbb;
  font-size: 0.8em;
}

// Presentation Queue
.queue-buttons { margin-top: 5px; }
#presentations-control {
  margin-top: 20px;
  text-align: right;
}

// Main nav
.nav-pills li a { padding: 5px; }

.add-hack { text-align: right; }
.add-hack-mobile
{
  text-align: center;

  button
  {
    width: 75px; height: 75px;
    border-radius: 75px;
    font-size: 3em;
    text-align: center;
  }
}

#tag_cloud {
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.6em;
  .s { font-size: 1em; }
  .m { font-size: 1.3em; }
  .l { font-size: 1.8em; }
}

#tag_cloud a {
 background-color:#44B344; color:#fff; line-height:25px; font-size:12px; padding:0px 5px; border-radius:3px; cursor:pointer;
}
#tag_cloud a:hover { background-color:lighten(#44B344, 10%); text-decoration:none; }


// Front page
.hackdays { margin-bottom: 3em; }
.hackday h3 { margin-bottom: 0; }