// Place all the styles related to the hacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment 
{	
	clear: both;
	margin-top: 15px;
	display: block;
	img 
	{ 
		float: left; 
		margin-right: 10px;
		margin-bottom: 50px;
	}
}

.votes 
{ 
	font-size: 2em; 
	vertical-align: middle;
	margin: 7px;
	line-height: 1em;
}
.hack-voting 
{ 
	width: 60px;
	text-align: center; 
	float: left;
	overflow: auto;
}

#new_comment_form 
{
	margin-top: 30px;
	clear: both;
}
#new_comment_form .btn 
{ 
	float: right;
	margin-top: 10px;
}

#team img 
{
	float: left;
	display: block;
	margin-right: 5px;
}
#hack-join
{
	border: 2px dashed #666;
	background-color: #ddd;
	color: #666;
	border-radius: 45px;
	text-align: center;
	padding-top: 10px;
	display: block;
	float: left;
	height: 45px; width: 45px;
}
#hack-join:hover
{
	border: 2px solid #666;
	text-decoration: none;
	color: #333;
}



