.col-md-4
  %h3 Activity
  .no-activities.blank-slate
    No activity to show.. yet!
  #activities

:javascript
  $(function(){

    var interval = 10000;
    var cursor = 0;
    getActivities();
    // TODO: should back off exponentially (use setTimeout recursively?)
    setInterval(function(){ getActivities(); }, interval);

    function getActivities(){
      $.get("#{url_for(scope)+'/activities'}", { cursor: cursor })
      .success(function(data){
        if(data != " ")
        {
          cursor = $(data).first().attr('data-activity');
          $('#activities').prepend(data);
          $('time').timeago();
        } else if($('#activities .activity').length == 0) {
          $('.no-activities').show();
        }
      });
    }
  
  });